{{ define "template.set.list" }}
    <div class="template-set-list">
        <div class="template-set-list-header row mb-5">
            <div class="col-6">
                <h1>{{ "template.set.list" | t }}</h1>
            </div>
            <div class="col">
                <a href="/template-set/new" hx-boost="true" hx-target="body" class="btn btn-secondary">{{ "template.set.new" | t }}</a>
            </div>
            <div class="col">
                <button hx-get="/template-set/list" hx-target="body" class="btn btn-secondary">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z"/>
                        <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z"/>
                    </svg>
                </button>
            </div>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">{{ "template.set.name" | t }}</th>
                <th scope="col">{{ "template.set.version" | t }}</th>
                <th scope="col">{{ "template.set.action.actions" | t }}</th>
            </tr>
            </thead>
            <tbody>
                {{ if not .Data }}
                    <tr class="text-center">
                        <td colspan="3">{{ "template.set.list.empty" | t }}</td>
                    </tr>
                {{ end }}

                {{ range .Data }}
                    <tr>
                        <td><a class="template-set-view" href="/template-set/{{ .ID }}/list" hx-boost="true" hx-target="body">{{ .Name }}</a></td>
                        <td>{{ .Version }}</td>
                        <td>
                            {{/* edit button + modal */}}
                            <span hx-get="/template-set/edit/{{ .ID }}" hx-target="#edit-form-for-{{ .ID }}" hx-swap="outerHTML" data-bs-toggle="modal" data-bs-target="#edit-modal-for-{{ .ID }}" class="edit-icon mx-2" role="button">
                                <img src="{{ asset "icons/edit.svg" }}" alt="{{ "template.set.action.edit" | t }}" title="{{ "template.set.action.edit" | t }}" class="align-baseline" />
                            </span>
                            <div class="modal fade" id="edit-modal-for-{{ .ID }}" tabindex="-1" role="dialog" aria-labelledby="edit-modal-for-{{ .ID }}-label" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="edit-modal-for-{{ .ID }}-label">{{ tf "template.set.edit.title" "name" .Name }}</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{{ "template.set.edit.cancel" | t }}"></button>
                                        </div>
                                        <div class="modal-body">
                                            <form hx-put="/template-set/{{ .ID }}" id="edit-form-for-{{ .ID }}"></form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ "template.set.edit.cancel" | t }}</button>
                                            <button type="submit" form="edit-form-for-{{ .ID }}" class="btn btn-primary">
                                                {{ "template.set.edit.confirm" | t }}
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            {{/* delete button + modal */}}
                            <span data-bs-toggle="modal" data-bs-target="#delete-modal-for-{{ .ID }}" class="delete-icon" role="button">
                                <img src="{{ asset "icons/x.svg" }}" alt="{{ "template.set.action.delete" | t }}" title="{{ "template.set.action.delete" | t }}" class="align-baseline" />
                            </span>
                            <div class="modal fade" id="delete-modal-for-{{ .ID }}" tabindex="-1" role="dialog" aria-labelledby="delete-modal-for-{{ .ID }}-label" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="delete-modal-for-{{ .ID }}-label">{{ tf "template.set.delete.title" "name" .Name }}</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{{ "template.set.delete.cancel" | t }}"></button>
                                        </div>
                                        <div class="modal-body">
                                            {{ tf "template.set.delete.text" "name" .Name }}
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">{{ "template.set.delete.cancel" | t }}</button>
                                            <button hx-delete="/template-set/{{ .ID }}" hx-target=".template-set-list" hx-swap="outerHTML" class="btn btn-danger" data-bs-dismiss="modal">
                                                {{ "template.set.delete.confirm" | t }}
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                {{ end }}
            </tbody>
        </table>
    </div>
{{ end }}