{{ define "header-navigation-menu" }}
    {{ if .Navigation }}
        {{ range .Navigation }}
            {{/* TODO display nested items */}}
            <li class="nav-item">
                <a
                    {{ if not .Redirect }}hx-boost="true" hx-target="body" hx-swap="innerHTML"{{ end }}
                    class="nav-link {{ if .Active }}active{{ end }}"
                    href="{{ .URL }}"
                >
                    {{ t .Name }}
                </a>
            </li>
        {{ end }}
    {{ end }}
{{ end }}