{{ define "header-navigation-menu" }}
    <li class="nav-item">
        <a class="nav-link active" href="/">Overview</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Modifiers</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Grid</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Elements</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Components</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Layout</a>
    </li>
{{ end }}