{{ define "layout" }}
    {{ block "header" . }}
        {{ block "header-branding" . }}
            <section class="hero header">
                <div class="hero-body header-body">
                    <div class="tile is-ancestor">
                        <div class="tile is-2 is-parent">
                            <div class="tile">
                                <img class="is-logo" src="{{ asset "img/harmony.png" }}" alt="HARMONY Logo" />
                            </div>
                        </div>
                        <div class="tile is-vertical is-parent">
                            <div class="tile is-child">
                                <h2 class="title">
                                    {{ block "header-title" . }}HARMONY{{ end }}
                                </h2>
                            </div>
                            <div class="tile is-child">
                                <h3 class="subtitle">
                                    {{ block "header-subtitle" . }}Highly Adaptable Requirements Management and OrgaNization sYstem{{ end }}
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            {{ end }}

            {{ block "header-navigation" . }}
                <div class="hero-foot header-navigation">
                    <nav class="tabs is-boxed is-fullwidth">
                        <div class="container">
                            <ul>
                                {{ template "header-navigation-menu" . }}
                            </ul>
                        </div>
                    </nav>
                </div>
            {{ end }}
        </section>
    {{ end }}

    {{ block "content" . }}
        <section class="section content">
            <div class="content-inner">
                <div class="tile is-ancestor">
                    <div class="tile is-3 is-parent content-sidebar">
                        <div class="tile is-child box">
                            {{ block "content-sidebar" . }}
                                <aside class="content-sidebar">
                                    {{ template "content-sidebar-menu" . }}
                                </aside>
                            {{ end }}
                        </div>
                    </div>

                    <div class="tile is-parent content-body">
                        <div class="tile is-child">
                            {{ template "content-body" . }}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {{ end }}

    {{ block "footer" . }}
        <footer class="footer">
            <div class="content has-text-centered">
                <p>
                    {{ tf "harmony.footer.visit"
                        "link"
                        "<a href=\"https://github.com/org-harmony/harmony\" target=\"_blank\">GitHub</a>" |
                        safeHTML
                    }}
                </p>
            </div>
        </footer>
    {{ end }}
{{ end }}
