{{ define "layout" }}
    {{ block "header" . }}
        <section class="header">
            {{ block "header-navigation" . }}
                <nav class="navbar navbar-expand-lg">
                    <div class="container-fluid">
                        <a class="navbar-brand" href="#">
                            <img class="img-fluid rounded border-light" width="70rem" src="{{ asset "img/harmony-logo.jpg" }}" alt="HARMONY Logo" />
                        </a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbar">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                {{ template "header-navigation-menu" . }}
                            </ul>
                        </div>
                    </div>
                </nav>
            {{ end }}
        </section>
    {{ end }}

    {{ block "content-container" . }}
        <section class="section content-section mt-3">
            <div class="content-container container">
                <div id="content">
                    {{ template "content" . }}
                </div>
            </div>
        </section>
    {{ end }}

    {{ block "footer" . }}
        <footer class="footer mt-5 py-3 bg-light">
            <div class="container text-center">
                <p>
                    {{ tf "harmony.footer.visit"
                    "link"
                    "<a href=\"https://github.com/org-harmony/harmony\" target=\"_blank\">GitHub</a>" |
                    safeHTML
                    }}
                </p>
            </div>
        </footer>
    {{ end }}
{{ end }}
