{{ define "eiffel.elicitation.template" }}
    {{ if .Data.Form.Template }}
        {{ $templateID := .Data.Form.TemplateID }}
        {{ $rules := .Data.Form.Template.Rules }}
        {{ $displayTypes := .Data.Form.DisplayTypes }}
        {{ $variantKey := .Data.Form.VariantKey }}

        <div class="eiffel-elicitation-template-variant mt-3 bg-light rounded p-3 w-100 m-auto border border-light-subtle">
            <div class="row">
                <div class="col">
                    {{ $current := false }}
                    {{ $prevOrNext := "prev" }}
                    {{ range $key, $variant := .Data.Form.Template.Variants }}
                        {{ $class := printf "eiffel-template-variant-%s" $prevOrNext }}

                        {{ if eq $variantKey $key }}
                            {{ $current = true }}
                            {{ $class = "eiffel-template-variant-current" }}
                        {{ end }}

                        <button hx-get="/eiffel/elicitation/{{ $templateID }}/{{ $key }}"
                            hx-target="#eiffelElicitationTemplate"
                            class="btn {{ $class }} {{ if eq $variantKey $key }}btn-outline-primary{{ else }}btn-outline-secondary{{ end }}">
                            {{ $variant.Name }}
                        </button>

                        {{ if $current }}
                            {{ $prevOrNext = "next" }}
                            {{ $current = false }}
                        {{ end }}
                    {{ end }}
                </div>
            </div>
            <div class="row mt-2">
                <div class="col d-flex justify-content-between">
                    <span class="badge shadow rounded-pill text-bg-secondary">{{ t "eiffel.elicitation.template.variant.left.shortcut" }}</span>
                    <span class="badge shadow rounded-pill text-bg-secondary">{{ t "eiffel.elicitation.template.variant.right.shortcut" }}</span>
                </div>
            </div>
        </div>

        <div class="accordion mt-4 eiffel-elicitation-template-info" id="eiffelTemplateInfoAccordion">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingConstruction">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseConstruction" aria-expanded="true" aria-controls="collapseConstruction">
                        {{ t "eiffel.elicitation.template.construction" }}
                    </button>
                </h2>
                <div id="collapseConstruction" class="accordion-collapse collapse show" aria-labelledby="headingConstruction" data-bs-parent="#eiffelTemplateInfoAccordion">
                    <div class="accordion-body">
                        {{ if .Data.Form.Variant.Format }}
                            {{ .Data.Form.Variant.Format }}
                        {{ else }}
                            {{ range .Data.Form.Variant.Rules }}
                                {{ $rule := index $rules . }}
                                <span class="eiffel-elicitation-template-info-rule">
                                    {{ if eq (index $displayTypes .) "text" }}
                                        {{ $rule.Value }}
                                    {{ else }}
                                        {{ if $rule.Optional }}
                                            [{{ $rule.Name }}]
                                        {{ else }}
                                            <{{ $rule.Name }}>
                                        {{ end }}
                                    {{ end }}
                                </span>
                            {{ end }}
                        {{ end }}
                    </div>
                </div>
            </div>
            {{ if .Data.Form.Variant.Example }}
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingExample">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                            {{ t "eiffel.elicitation.template.example" }}
                        </button>
                    </h2>
                    <div id="collapseExample" class="accordion-collapse collapse" aria-labelledby="headingExample" data-bs-parent="#eiffelTemplateInfoAccordion">
                        <div class="accordion-body">
                            {{ .Data.Form.Variant.Example }}
                        </div>
                    </div>
                </div>
            {{ end }}
            {{ if or .Data.Form.Variant.Description .Data.Form.Template.Description }}
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingDesc">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseDesc" aria-expanded="false" aria-controls="collapseDesc">
                            {{ t "eiffel.elicitation.template.description.title" }}
                        </button>
                    </h2>
                    <div id="collapseDesc" class="accordion-collapse collapse" aria-labelledby="headingDesc" data-bs-parent="#eiffelTemplateInfoAccordion">
                        <div class="accordion-body">
                            <dl class="mb-0">
                                {{ if .Data.Form.Variant.Description }}
                                    <dt>{{ t "eiffel.elicitation.template.variant.description" }}</dt>
                                    <dd>{{ .Data.Form.Variant.Description }}</dd>
                                {{ end }}
                                {{ if .Data.Form.Template.Description }}
                                    <dt>{{ t "eiffel.elicitation.template.description" }}</dt>
                                    <dd>{{ .Data.Form.Template.Description }}</dd>
                                {{ end }}
                            </dl>
                        </div>
                    </div>
                </div>
            {{ end }}
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingSettings">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSettings" aria-expanded="false" aria-controls="collapseSettings">
                        {{ t "eiffel.elicitation.template.settings" }}
                    </button>
                </h2>
                <div id="collapseSettings" class="accordion-collapse collapse" aria-labelledby="headingSettings" data-bs-parent="#eiffelTemplateInfoAccordion">
                    <div class="accordion-body">
                        <div class="form-check">
                            <input form="eiffelElicitationForm" class="form-check-input" role="button"
                               type="checkbox" name="copyAfterParse" id="copyAfterParse"
                               {{ if .Data.Form.CopyAfterParse }}checked{{ end }}/>
                            <label class="form-check-label" for="copyAfterParse" role="button">
                                {{ t "eiffel.elicitation.template.copy-after-parse" }}
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="eiffel-elicitation-template-variant-form mt-3 w-100">
            {{ template "eiffel.elicitation.form" . }}
        </div>
    {{ else }}
        {{ if not .Data.Valid }}
            {{ range .Data.AllViolations }}
                <div class="alert alert-danger mt-3" role="alert">
                    {{ t .Error }}
                </div>
            {{ end }}
        {{ else }}
            <div class="alert alert-info mt-3" role="alert">
                {{ t "eiffel.elicitation.template.search.call-to-action" }}
            </div>
        {{ end }}
    {{ end }}
{{ end }}