{{ define "eiffel.template.search.modal" }}
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="eiffelTemplateSearchLabel">{{ t "eiffel.elicitation.template.search.title" }}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{{ t "harmony.generic.close" }}"></button>
            </div>
            <div class="modal-body">
                \here goes the search form\
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ t "harmony.generic.close" }}</button>
            </div>
        </div>
    </div>
{{ end }}