{{ define "eiffel.template.search.modal" }}
    <div class="modal-dialog modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="eiffelTemplateSearchLabel">{{ t "eiffel.elicitation.template.search.title" }}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{{ t "harmony.generic.close" }}"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <input id="eiffelTemplateSearchInput"
                       name="search" type="search" class="form-control border-dark-subtle"
                       hx-post="/eiffel/elicitation/templates/search"
                       hx-trigger="input changed delay:300ms, search"
                       hx-target="#eiffelTemplateSearchResults"
                       hx-disabled-elt="#eiffelTemplateSearchInput"
                       aria-label="{{ t "eiffel.elicitation.template.search.placeholder" }}"
                       placeholder="{{ t "eiffel.elicitation.template.search.placeholder" }}"/>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">{{ t "template.title" }}</th>
                            <th scope="col">{{ t "template.version" }}</th>
                            <th scope="col">{{ t "template.set.title" }}</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody id="eiffelTemplateSearchResults">
                        {{ if not .Data.Templates }}
                            <tr>
                                <td class="text-center" colspan="4">{{ t "eiffel.elicitation.template.search.start" }}</td>
                            </tr>
                        {{ else }}
                            {{ template "eiffel.template.search.result" . }}
                        {{ end }}
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ t "harmony.generic.close" }}</button>
            </div>
        </div>
    </div>
{{ end }}