{{ define "eiffel.elicitation.page" }}
    {{ template "index" . }}
{{ end }}

{{ define "content" }}
    {{ template "eiffel.elicitation" . }}
{{ end }}

{{ define "eiffel.elicitation" }}
    <div class="row">
        <div class="col-8 eiffel-elicitation">
            <div id="eiffelElicitationTemplate">
                {{ template "eiffel.elicitation.template" . }}
            </div>
        </div>

        <div class="col-4 eiffel-requirements">
            {{ template "eiffel.elicitation.output-file.form" .Data.Form.OutputFormData }}
        </div>
    </div>
{{ end }}