{{ define "auth.login" }}
    {{ template "landing-page" . }}
{{ end }}

{{ define "content-body" }}
    <div class="card auth-login-providers">
        <div class="card-header">{{ t "user.auth.login.title" }}</div>
        <div class="card-body">
            {{ block "auth.login.providers" . }}
                <div class="d-grid">
                    {{ range $provider := .Data.Providers }}
                        <a href="/auth/login/{{ $provider.Name }}" class="btn btn-outline-secondary auth-login-provider-{{ $provider.Name }}">
                            {{ tf "user.auth.login.with-provider" "provider" $provider.DisplayName }}
                        </a>
                    {{ end }}
                </div>
            {{ end }}
        </div>
    </div>
{{ end }}