@import "bootstrap.min.css";

/* TODO add sass file to import bootstrap and allow variable overrides */

#eiffelRequirementsListWrapper {
    max-height: 50rem;
    overflow-y: scroll;
}

.eiffel-requirements-list-item {
    border-radius: var(--bs-border-radius);
    background-color: rgba(var(--bs-light-rgb), 1);
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    border: 1px solid var(--bs-light-border-subtle);
    cursor: pointer;
    transition: all 200ms ease-in-out;
}

.eiffel-requirements-list-item:hover {
    background-color: rgba(var(--bs-light-rgb), 0.1);
}

#eiffelElicitationForm.eiffel-neglect-optional input, #eiffelElicitationForm.eiffel-neglect-optional textarea {
    border-color: var(--bs-gray-700);
}

#eiffelElicitationForm.eiffel-neglect-optional :optional {
    border-color: var(--bs-gray-400);
    opacity: 0.75;
}