{{ define "landing-page"}}
    {{ template "index" . }}
{{ end }}

{{ define "title" }}
    {{ t "Willkommen bei HARMONY" }}
{{ end }}

{{ define "header" }}
    {{ template "header-branding" . }}
{{ end }}

{{ block "content" . }}
    <section class="section content">
        <div class="content-inner">
            <div class="content-body container box">
                {{ template "content-body" . }}
            </div>
        </div>
    </section>
{{ end }}

{{ define "content-body" }}
    <h1>{{ t "Willkommen bei HARMONY" }}</h1>

    <p>
        {{ t "HARMONY ist ein anpassbares Tool zur Erfassung, zum Management und zur Organisation von Anforderungen." }}
        {{ t "Wir möchten ein einfaches, aber leistungsstarkes Werkzeug zur Verwaltung von Anforderungen und langfristig auch zur besseren Organisation von Projekten zur Verfügung stellen." }}
        {{ t "Wir bemühen uns sehr HARMONY konstant zu verbessern und weiterzuentwickeln. Wenn Sie also Vorschläge haben, lassen Sie es uns bitte wissen!" }}
    </p>

    <p>
        {{ t "HARMONY befindet sich derzeit in der Alpha-Phase, daher kann es sein, dass es noch Fehler und fehlende Funktionen gibt." }}
        {{ t "Wir sind auf Ihr Feedback und Erfahrungen gespannt. :)" }}
    </p>

    <div class="columns">
        <div class="column">
            <a href="/auth/login" class="button is-primary is-action-button">{{ t "Anmelden" }}</a>
        </div>
    </div>
{{ end }}