{{ define "auth.login" }}
    {{ template "landing-page" . }}
{{ end }}

{{ define "content" }}
    <section class="section content login">
        <div class="card auth-login-providers">
            <div class="card-header">
                <p class="card-header-title">{{ t "Anmelden" }}</p>
            </div>
            <div class="card-content">
                {{ block "auth.login.providers" . }}
                    {{ range $provider := .Providers }}
                        <a href="/auth/login/{{ $provider.Name }}" class="button is-action-button is-fullwidth is-{{ $provider.Name }}">{{ tf "Anmelden mit {{.name}}" "name" $provider.DisplayName }}</a>
                    {{ end }}
                {{ end }}
            </div>
        </div>
    </section>
{{ end }}